<div id="user-new">
    <%= render '/shared/title' %>

    <%= render 'form' %>

  <div class="ui horizontal divider"></div>
    <div class="ui form segment">
        <%= link_to 'Back', users_path, class:"ui purple button" %>
    </div>
</div>