<div id="shared-title">
  <div id="title">

    <div class="ui grid">
      <div class="one wide column"></div>
      <div class="twelve wide column">
        <div class="container ui purple stacked segment">
          <h2 class="ui center floated header"><%= controller.action_name %> <%= controller.controller_name %></h2>
          <div class="ui clearing divider"></div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="two wide column"></div>
    </div>
  </div>
</div>