@import "variables";
@import "bootstrap/mixins";
@import "bootstrap/modals";
@import "bootstrap/scaffolding";


html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: $gray-lighter;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  overflow-x: hidden;

  #main {
    padding-left: 2%;
  }

  #application {
    background-color: #F7F7F7;
  }

  .style.message {
    position: relative;
    min-height: 18px;
    margin: 0.5em 0em;
    height: auto;
    background-color: #EFEFEF;
    padding: 1em;
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: opacity 0.1s ease,
    color 0.1s ease,
    background 0.1s ease,
    -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease,
    color 0.1s ease,
    background 0.1s ease,
    box-shadow 0.1s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0.325em 0.325em 0.325em 0.325em;
  }

  #error_explanation {
    //@extend .ui.warning.message;
    @extend .style.message;

    background-color: #F1D7D7;
    color: #A95252;
  }
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
}

#error_explanation {
  @extend .ui.error.message;
  padding: 0.2em;
  border: 0.1em outset $gray-lighter;

  h2 {
    font-size: 1.2em;
  }
}

section.content {
  //padding-top: 120px;
}
