$bg-color-success:      #DEFCD5 !default;
$color-success:         #52A954 !default;
$bg-color-info:         #E6F4F9 !default;
$color-info:            #4D8796 !default;


@import "bootstrap/variables";
