@import "variables";

#user_photos_index {

  .popup {
    color: $color-success;
  }

  #datepicker {
    width: 8em;
    background-color: #F9F9FB;
    box-shadow: 0 2px 1px rgba(0,0,0,0.06) inset;

    border: 1px solid #AED4EC;
    border-radius: 3px;

    display: inline;
    vertical-align: middle;
  }
  
  #images.item {
    //margin: 0em, 0em, 1em, 0em;
    margin: 0em;
    margin-bottom: 1em;
    min-height: 21em;

    .content {
      padding-bottom: 0.1em;
      .title {
        font-weight: bold;
       // text-shadow:
       //   0 0 15px #edf8ff,
       //    0 0 10px #edf8ff,
       //   0 0 20px #edf8ff;
      }
    }
  }

  .ui.ribbon.label {
    position: absolute;
    border: 0.15em solid $gray-lighter;
    //top: 100%;
  }

  #image_content {
    position: relative;
  }

}