#user_photos_show_user_photo {
  height: 93%;

  .modal-content {
    height: 100%;

    .modal-header {
      height: 5%;
      margin: 0em;
      padding: 0em 0em 0em 1em;
      min-height: 0em;
    }

    .modal-body {
      display: table;
      width: 100%;
      height: 80%;
      padding: 1em;
      background-color: #F4F4F4;
      box-sizing: border-box;

      .image {
        height: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      .comment {
        padding: 0em 2em;
        overflow: auto;
        overflow-y: scroll;
        font-size: 1em;
      }
    }
    .modal-footer {
      padding: 1em 2em;
      height: 15%;
      margin-top: 0.2em;

      #smile {
        text-align: left;
        float: left;
      }

      #action {
        text-align: right;
      }
    }
  }
}