<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">title:<%=@user_photo.title%></h3>
    </div>

    <div class="modal-body">
      <%= user_thumb_tag(@user_photo) %>
    </div>

    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= link_to({action: 'download_image', id: @user_photo.id}, type:"button", class:"btn btn-primary") do %>
          <%= content_tag(:span, "", class:"glyphicon glyphicon-download-alt") %>
          download
      <% end %>
    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
